@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
}



/*****************************/
/* HOMEPAGE                  */
/*****************************/


.homepage {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    display: flex;
}

.about {
    width: 5%;
}

.about-wraper {
    width: 100%;
    cursor: pointer;
}

.about-window {
    width: 100vw;
    height: 100vh;
    left: 0;
    bottom: -100vw;
    overflow:hidden;
    background-color: red;
    box-shadow: 5px 5px 10px grey;
    position: absolute;
    z-index: 11;
    opacity: 0;
    -webkit-transition: all 1.5s ease-in-out 0.4s;
   transition: all 1.5s ease-in-out 0.4s;
   transition-timing-function: ease-in-out;
}

.about-window.open-about{
    opacity: 1;
    bottom: 0;
}

.about-window-content{
    padding: 40px;
    max-width: 800px;
    position: relative;
}

.close-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right:20px;
    top:20px;
}

.homepage-main {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.tumblr {
    width: 10%;
    display: flex;
}

.tumblr-wraper {
    width: 100%;
    align-self: flex-end;
}

.main-top {
    height: 40%;
    display: flex;
    justify-content: center;
}

.main-top-center {
    width: 50%;
    align-self: flex-end;
}

.main-bottom {
    height: 60%;
    display: flex;
}

.main-center {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-center-image {
    width: 40%;
    height: 40%;
}

.main-left {
    width: 25%;
}

.main-right {
    width: 23%;
    display: flex;
    flex-direction: column;
    margin: 2%
}

.main-right-top {
    height: 50%;
}

.main-right-bottom {
    height: 50%;
}

.circle-animation {
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 600px) {

    .homepage {
        position: absolute;
        top: 5%;
        left: 5%;
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .about {
        width: 100%;
        height: 10%;
    }

    .about-wraper {
        width: 20%;
        height: 100%;
    }

    .homepage-main {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tumblr {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .tumblr-wraper {
        width: 20%;
        align-self: flex-end;
    }

    .main-top {
        height: 20%;
        display: flex;
        justify-content: center;
    }

    .main-top-center {
        width: 70%;
        align-self: flex-end;
    }

    .main-bottom {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-center {
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-center-image {
        height: 84%;
    margin-top: 5%;
    }

    .main-left {
        height: 20%;
        width: 100%;
        display: block;
    }

    .circle-animation {
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    #two-circles {
        height: 100%;
    }

    .main-right {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-right-top {
        height: 50%;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    }

    .main-right-bottom {
        height: 50%;
        width: 50%;
        margin: auto;
        margin-top: 5%;
    }

    .navigator {
        position: absolute;
        top: unset !important;
        bottom: 60px;
        left: calc(50% - 20px) !important;
        width: 40px;
        height: 40px;
    }

    .temple-top {
        display: none;
    }

    .temple-base {
        display: none;
    }
}


/* CSS animations */

.rotate {
    animation: rotation 5s infinite linear;
}

#circle-one {
    animation: rotation2 8s infinite linear;
    transform-origin: center center;
}

#circle-two {
    animation: rotation 8s infinite linear;
    transform-origin: center center;
}

.animate-flicker {
    -webkit-animation: flickerAnimation 3s infinite;
    -moz-animation: flickerAnimation 3s infinite;
    -o-animation: flickerAnimation 3s infinite;
     animation: flickerAnimation 3s infinite;
 }

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

/*****************************/
/* LABIRINTO                 */
/*****************************/

.desktop-display {}
.mobile-display {display: none;}
.labirinto-link-desktop{ transition: all 0.5s ease-in-out;}
.labirinto-link-desktop:hover{ fill: rgb(212, 126, 146) !important;}
.labirinto-link { animation: color_change 2s infinite alternate;}  

@keyframes color_change {
	from { fill: rgb(212, 126, 146); }
	to { fill: rgb(250, 229, 234); }
}

@media only screen and (max-width: 800px) {
    .desktop-display {display: none;}
    .mobile-display {display: flex; flex-direction: column; height: 100vh;}
}



/*****************************/
/* TEMPLE                    */
/*****************************/

.navigator {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 40px; 
    height: 40px; 
    
  } 

.temple {
  display: flex;
  flex:1;
  height: 100vh;
  width: 100vw;
  flex-direction: column; 
  overflow: hidden;
  margin: 0 auto;
  width: inherit;
}

.temple-middle {
  display: flex;
  
  flex:1;
  flex-direction: row;
  margin-top: -4px;
}

.left-column {
    margin-left: 20px;
}

.right-column {
    margin-right: 20px;
}

.temple-entrance {
    display: flex;
    flex:2;
    position: relative;
}

.temple-entrance-stage {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin-top: 20px;
    margin-left: 20px;
}

.temple-entrance-stage svg {
    width: 100% !important;
    height: 100% !important;
    height: -webkit-fill-available;
}

.temple-top {
    margin-top: -4%;
}

.temple-base {
    margin-bottom: -6%
}


.temple-video {
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.temple-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.svg-wrapper {
    height: 100%;
    width: 100%;
}

/*****************************/
/* coming soon               */
/*****************************/


.comming-soon {
 
    margin:  0px auto;
    text-align: center;
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
}



.sintese-caçador-futuro {
    height: 30%;
}
.sintese-image-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sintese-image-wrapper > *{
    flex: 2;
}

.sintese-caçador-futuro {
    flex:1;
    margin-bottom: 20px;
}


.soon {
    background-color: #000;
    align-items: center;
    justify-content: center;
}

.soon-2 {
    flex: 1;
    height: 90%;
}

.soon-3 {
    display: flex;
    flex: 1;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.player-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
  }
  
  video {
    display: block;
    height: 100%;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
  }