@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html,
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0px;
}



/*****************************/
/* HOMEPAGE                  */
/*****************************/


.homepage {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    display: flex;
}

.about {
    width: 10%;
}

.about-wraper {
    width: 100%;
    cursor: pointer;
}

.homepage-main {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.tumblr {
    width: 10%;
    display: flex;
}

.tumblr-wraper {
    width: 100%;
    align-self: flex-end;
}

.main-top {
    height: 40%;
    display: flex;
    justify-content: center;
}

.main-top-center {
    width: 50%;
    align-self: flex-end;
}

.main-bottom {
    height: 60%;
    display: flex;
}

.main-center {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-center-image {
    width: 50%;
    height: 50%;
}

.main-left {
    width: 25%;
}

.main-right {
    width: 25%;
    ;
    display: flex;
    flex-direction: column;
}

.main-right-top {
    height: 50%;
}

.main-right-bottom {
    height: 50%;
}

.circle-animation {
    width: 50%;
    margin: auto;
}

@media only screen and (max-width: 600px) {

    .homepage {
        position: absolute;
        top: 5%;
        left: 5%;
        height: 90%;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .about {
        width: 100%;
        height: 10%;
    }

    .about-wraper {
        width: 20%;
        height: 100%;
    }

    .homepage-main {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tumblr {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .tumblr-wraper {
        width: 20%;
        align-self: flex-end;
    }

    .main-top {
        height: 20%;
        display: flex;
        justify-content: center;
    }

    .main-top-center {
        width: 50%;
        align-self: flex-end;
    }

    .main-bottom {
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-center {
        height: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-center-image {
        height: 100%;
    }

    .main-left {
        height: 25%;
        width: 100%;
        display: flex;
    }

    .circle-animation {
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    #two-circles {
        height: 100%;
    }

    .main-right {
        height: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-right-top {
        height: 50%;
        width: 50%;
        margin: auto;
    }

    .main-right-bottom {
        height: 50%;
        width: 50%;
        margin: auto;
    }

}


/* CSS animations */

.rotate {
    animation: rotation 5s infinite linear;
}

.blink {
    animation: blinker 3s linear infinite;
}

#circle-one {
    animation: rotation2 8s infinite linear;
    transform-origin: center center;
}

#circle-two {
    animation: rotation 8s infinite linear;
    transform-origin: center center;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation2 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}


@keyframes blinker {
    50% {
        opacity: 0;
    }
}



/*****************************/
/* LABIRINTO                 */
/*****************************/


.flexbox-page {height: 100vh;width: 100vw;display: flex;justify-content: center; align-items: center;}
.flexbox-container {display: flex; flex: 1; height: 95%;width: 95%;}
.flexbox-container svg{height: 100%;width: 100%;}
.flexbox-container-mobile {display: flex; flex: 1; height: 100%;width: 100%;}
.flexbox-container-mobile svg{height: 100%;width: 100%;}
.flexbox-page-mobile {height: 100vh;width: 100vw;display: flex;justify-content: center; align-items: center; flex-direction: column;}


.desktop-display {}
.mobile-display {display: none;}
.mobile-labirinto-top {display: flex;flex-direction: column;}
.mobile-labirinto-middle {flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.mobile-labirinto-bottom {display: flex;flex-direction: column; margin-bottom: -2px;}
.labirinto-link-desktop{ transition: all 0.5s ease-in-out;}
.labirinto-link-desktop:hover{ fill: rgb(212, 126, 146) !important;}
.labirinto-link { animation: color_change 2s infinite alternate;}  

@keyframes color_change {
	from { fill: rgb(212, 126, 146); }
	to { fill: rgb(250, 229, 234); }
}

@media only screen and (max-width: 800px) {
    .desktop-display {display: none;}
    .mobile-display {display: flex; flex-direction: column; height: 100vh;}
}


#video-container{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    z-index: -2;
}
#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    }
#palco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 2;
}

.navigator {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:30px solid rgb(159, 129, 230); 
  }


  .about-window {
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: -110vh;
    left: 0;
    background-color: red;
    z-index: 999;
    opacity: 1;
    transition: all 1s ease-in-out 0.4s;
    transition-timing-function: ease-in-out;
  }

.about-window-content{
    padding: 10px;
}

.about-window-close {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.close-icon {
    width: 50px;
    height: 50px;
}

.open-about {
    bottom: 0 !important;

}